@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
  box-sizing: border-box;
}

body{
   background-image: linear-gradient(to left top, #9d32f4, #8a39e7, #783cd8, #673ec9, #583eba, #5237a9, #4c3198, #452b88, #401f73, #3a145f, #32084c, #29003a);
}


body,h1,h2,h3,p,ul,li,p{
   padding: 0px;
   margin: 0px;
}

img{
   display: block;
   max-width: 100%; /* a imagem se adptara a diferentes tipos de tela */
}


/*MENU*/

ul{
   list-style: none;
}

a{
   text-decoration: none;
}



.menu_bg{
   background-color: transparent;
   box-shadow: 4px 4px 10px #d90df04f;
}

.menu{
   max-width: 960px;
   margin: 0 auto;
   padding: 1px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   
}


.menu_nav ul{
  display: flex;
  flex-wrap: wrap;

}

.menu_nav a{
   margin: 13px;
   display: block;
   font-size: 1em;
   color: white;
   text-shadow: 4px 4px 7px  #d90df075;
   background-color: transparent;
   border: none;
   padding: 8px;
   border-radius: 8px;
   transition: all .6s;
   font-family: 'Mochiy Pop P One', sans-serif;
   
   
}

.menu_nav a:hover{
   -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   
   
}


/*introdução*/

.introducao{
   max-width: 960px;
   margin: 0 auto;
   padding: 50px 0;
   display: flex;
   flex-wrap: wrap;
   margin-top: 50px;
   
}

.intro_txt{
   flex: 2 1 160px;
   margin: 0 50px;

}


.intro_txt h1{
   font-size: 2.3em;
   color: white;
   margin-bottom: .5em;
   font-family: 'Mochiy Pop P One', sans-serif;
   text-shadow: 4px 4px 7px  #d90df049;
   
}

.intro_txt p{
   font-size: 1.1em;
   margin-bottom: .5em;
   line-height: 1.5em;
   color: white;
   font-family: 'Mochiy Pop P One', sans-serif;
}

.button{
   background-color: transparent;
   box-shadow: 1px 1px 10px  #D80DF0; 
   text-shadow: 4px 4px 7px  #d90df075;
   border-radius: 8px;
   color: white;
   padding: 17px;
   border: none;
   margin-top: 20px;
   transition: all .5s;
   cursor: pointer;
   font-family: 'Mochiy Pop P One', sans-serif;
}

.button:hover{
   -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

}

.intro_img{
   
   filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   
}

/* NOSSOS SERVIÇOS */

.nossos_servicos{
   max-width: 960px;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 40px 0;
   align-items: flex-end;
   
   
}


.item_nossos_servicos{
   flex: 1 1 175px;
   margin: 60px;
   border: none;
   padding:35px 20px;
   border-radius: 10px;
   box-shadow: 6px 6px 6px 6px  rgba(0, 0, 0, 0.24); 
   
   
  
   
}

.item_nossos_servicos h2{
   text-align: center;
   padding: 8px;
   font-size: 1em;
   margin-bottom: .5em;
   font-family: 'Mochiy Pop P One', sans-serif;
   color: white;
   text-shadow: 1px 1px 4px  #d90df049;
}

.item_nossos_servicos p{
   padding: 4px;
   font-family: 'Raleway', sans-serif;
   line-height: 1.5em;
   font-size: .9;
   color: white;
}

.item_nossos_servicos button{
   margin-bottom: 8px;
   background-color: transparent;
   box-shadow: 1px 1px 10px  #D80DF0; 
   text-shadow: 4px 4px 7px  #d90df075;
   border-radius: 8px;
   color: white;
   padding: 17px;
   border: none;
   margin-top: 20px;
   transition: all .5s;
   cursor: pointer;
   font-family: 'Mochiy Pop P One', sans-serif;
}

.item_nossos_servicos button:hover{
   -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}


/*SOBRE NOS */

.sobre{
   max-width: 960px;
   margin: 0 180px;
   padding: 15px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 60px;

}

.sobre_info{
   flex: 2 1 175px;
   margin: 0 50px;
}


.sobre h2{
   color: white;
   padding: 10;
   margin: 20px;
   text-align: center;
   font-size: 3em;
   text-shadow: 4px 4px 7px  #d90df075;
   font-family: 'Mochiy Pop P One', sans-serif;
   
}

.sobre p {
   line-height: 1.5em;
   font-size: 1em;
   color: white;
   font-family: 'Mochiy Pop P One', sans-serif;
}

.sobre img{
   filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}


/*footer*/

.footer{
   background-image: linear-gradient(to left top, #9d32f4, #8a39e7, #783cd8, #673ec9, #583eba, #5237a9, #4c3198, #452b88, #401f73, #3a145f, #32084c, #29003a);
   color: white;
   text-align: center;
}

